.resume-window{
    height: 100%;
    background-color: black;
    width: 100%;

    embed{
        height: 100%;
        width: 100%;
    }

    iframe{
        height: 100%;
        width: 100%;
    }
}