*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(/MAC-Wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

body{
    background-color: black;
}